<h3 class="ui header">{{t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.номер-caption")
      data-test-i-i-s-gostinica1-т-ч-расп-об-сотр-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.обязанности
      class=(if (v-get validationModel "обязанности" "isInvalid") "error")
      label=(t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.обязанности-caption")
      data-test-i-i-s-gostinica1-т-ч-расп-об-сотр-e-обязанности=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "обязанности" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.датаСостав-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаСостав
      class=(if (v-get validationModel "датаСостав" "isInvalid") "error")
      data-test-i-i-s-gostinica1-т-ч-расп-об-сотр-e-датаСостав=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаСостав" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.персонал-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.персонал
      displayAttributeName="фИО"
      autocomplete=true
      relationName="персонал"
      projection="ПерсоналL"
      title=(t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.персонал-caption")
      readonly=readonly
      componentName="персоналLookup"
      class=(if (v-get validationModel "персонал" "isInvalid") "error")
      data-test-i-i-s-gostinica1-т-ч-расп-об-сотр-e-персонал=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "персонал" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.должности-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.должности
      displayAttributeName="наименование"
      autocomplete=true
      relationName="должности"
      projection="ДолжностиL"
      title=(t "forms.i-i-s-gostinica1-т-ч-расп-об-сотр-e.должности-caption")
      readonly=readonly
      componentName="должностиLookup"
      class=(if (v-get validationModel "должности" "isInvalid") "error")
      data-test-i-i-s-gostinica1-т-ч-расп-об-сотр-e-должности=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "должности" "message")}}
  </div>
</form>
